$light: #FFF8F0;
$gray: #7C8483;
$dark: #1E1E24;
$main: #b60f09;
.main-container {
    background-color: $light;
    min-height: 100vh;
}
.title {
    font-size: 56px;
}
.searchbar {
    width: 50%;
    display: flex;
    border-radius: 10px;
    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.20);
}
.form {
    width: 90%;
}
.search-input {
    padding: 10px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.search-button {
    height: 44px;
    background-color: $main;
    border: none;
    width: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}