$light: #FFF8F0;
$gray: #7C8483;
$dark: #1E1E24;
$main: #b60f09;

.nav {
    background-color: $main;
}
.logo {
    height: 36px;
}
.searchbar {
    border: none;
    border-radius: 3px;
    padding: 8px;
}